<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/save}" method="post">
		<table>
			<tr>
				<td>empid</td>
				<td><input type="text" th:utext="${employees_add.empid}"></td>
				<td>empname</td>

				<td><input type="text" th:field="*{employees_add.empname}"></td>
				<td>empphn</td>
				<td><input type="text" th:field="*{employees_add.empphn}"></td>
				<td><input type="submit" value="Submit"></td>
				<td><input type="reset" value="reset"></td>
			</tr>
		</table>
	</form>
</body>
</html>