<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link th:href="@{myfile.css}" rel="stylesheet"></link>
<style type="text/css" >
div{          /* This is embeded CSS*/
    color: whitesmoke;
    background-color: darkkhaki;
}
</style>
<script type="text/javascript">
    document.write("This is using embeded JavaScript");
</script>

</head>
<body>
This is Abhijit
<h2>This is heading2</h2>
 <strong>this is strong</strong>
 <p>This is my Paragraph. This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.This is my Paragraph.</p>
<div style="background:#d2a41f;color:#128e62;">This is under a division using Inline  CSS</div>
<div>One More Div</div>
</body>
</html>